.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  margin-right: 36px;
  margin-bottom: 20px;
  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    .make-btn-center {
      display: block;
    }
  }

  .make-btn-center {
    position: absolute;
    align-items: center;
    top: 70%;
    opacity: 0.8;
    display: none;

    button {
      background-color: white;
      color: black;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
